//- booking.pug
extends layout

block content
  //- Booking Section
  .container.mt-5
    .row
      .col-md-6
        //- Hotel Image and Name (ensure hotel data is passed correctly)
        img(src=hotel.image, delete ="Image", class='img-fluid hotel-img')
        h1.text-center.mt-3= hotel.name
        

        //- Reviews Section
        h3.text-center.mt-4 Customer Reviews
        .review-box
          each review in hotel.reviews
            p.review
              strong Review: 
              | #{review}

      //- Booking Form
      .col-md-6
        form(action='/booking/#{hotel.id}', method='POST')
          .form-group
            label(for='name') Name:
            input.form-control(type='text', id='name', name='name', required=true)

          .form-group
            label(for='checkin') Check-in Date:
            input.form-control(type='date', id='checkin', name='checkin', required=true)

          .form-group
            label(for='checkout') Check-out Date:
            input.form-control(type='date', id='checkout', name='checkout', required=true)

          .form-group
            label(for='rooms') Number of Rooms:
            input.form-control(type='number', id='rooms', name='rooms', required=true, min='1')

          button.btn.btn-primary(type='submit') Confirm Booking

//- block scripts
//-   script(src="/javascripts/booking.js")
